<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <meta name='description'
              content='Register for Volterra airdop' />
        <title> Volterra | Presale </title>

        <link rel='stylesheet'
              href='/tailwindcss.min.css' />
        <link rel='stylesheet'
              href='/font/bootstrap-icons.css' />

        <link rel="preconnect"
              href="https://fonts.googleapis.com">
        <link rel="preconnect"
              href="https://fonts.gstatic.com"
              crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&family=Roboto:wght@400;700&display=swap"
              rel="stylesheet">

        <script src='/jquery.min.js'></script>



    </head>


    <body style='background-color:rgb(37, 44, 71)'>

        <div id='loader'
             class='hidden fixed z-20 cursor-not-allowed bg-gray-500 opacity-75 top-0 left-0 right-0 bottom-0 flex flex-row justify-center content-center'>
            <div class='self-center mx-auto'>
                <i style='color:rgb(255, 255, 255)'
                   class=' bi-circle-fill text-4xl block text-center  animate-bounce'></i>
                <br />
                <p style='font-family:Quicksand'
                   class='text-center text-white'> Just a sec...</p>
            </div>
        </div>


        <header style='background-color:rgb(31,38,65)'
                class=' p-1  sticky top-0 left-0 right-0 z-20'>
            <div class='flex flex-row flex-nowrap justify-between content-center'>
                <img src='/logo.jpg'
                     width='50'
                     height="50"
                     class=" object-contain self-center float-left ml-4 mt-2 rounded-full"
                     alt='Volterra logo' />

                <div class='w-3/5 self-center'>

                    <div class='md:hidden flex flex-row justify-end p-2'>
                        <i id='showNav'
                           class='bi-justify-left hover:text-blue-300 text-4xl text-white'></i>
                    </div>
                    <ul id='nav'
                        style='font-family: raleway;background-color: rgb(31,38,65);'
                        class='hidden flex-col    fixed space-y-8 md:space-y-0 top-16  pt-8 md:pt-0 left-0 justify-center  right-0 bottom-0 z-10 md:static md:flex md:flex-row flex-nowrap md:justify-end content-center font-bold text-white'>
                        <li
                            class='w-2/5 md:w-2/12 mx-auto md:mx-0  hover:bg-gray-100 ring-gray-700 cursor-pointer transition text-center bg-white text-gray-700 px-4 py-3 rounded-lg'>
                            <a href='https://volterra.nebulatech.co/'>
                                Back Home </a>
                        </li>
                        </li>
                        <li>
                            <i id='loader'
                               class='hidden bi-circle-fill text-3xl z-30 text-white animate-ping'></i>

                        </li>

                        <!-- <li class='text-center md:hidden'> <i
                               onclick="this.parentElement.parentElement.style.display = 'none'"
                               class='bi-x-circle text-2xl '></i></li> -->

                    </ul>

                </div>
            </div>


        </header>

        <main class='md:ml-16'>

            <div class='mt-16 '>
                <h1 class='text-4xl md:text-8xl px-6 text-left font-bold capitalize text-white'>
                    <span class='text-blue-400 animate-fade'>
                        Volterra</span> Presale
                </h1>
                <img src='/bg.png'
                     class='float-right inline-block ml-12'
                     alt='bg'>


                    </div>



            <div class='md:ml-16 p-6 mt-8 md:mt-16'>
                <p style='font-family:Quicksand;'
                   class='md:w-4/5 xl:w-3/5 text-left text-blue-400 text-xl md:text-3xl py-6 font-black'>
                    You are welcome to the Volterra Presale, follow the steps below to
                    participate in the token presale

                </p>

                <p style='font-family:Quicksand'
                   class='md:w-4/5 xl:w-3/5 text-left text-white text-lg md:text-2xl py-6 font-black'>

                    Steps to participate

                </p>

            </div>

            <hr class='clear-both block mx-auto my-8 border-1 border-gray-500' />
            
            <div class=''>
            
                <img src='/qr.jpg'
                     class='block mx-auto flaot-right'
                     alt='qr' />
            
                <p style='font-family:Quicksand'
                   class='font-bold text-sm md:text-2xl text-center text-white py-4'>
                    0x67f99a17241a4050c2A842f5F9B15fc877b3bd37 </p>
            
            
            </div>



            <!-- Steps -->
            <div class='mb-8 w-full flex flex-col  justify-center md:justify-start flex-wrap content-center    '
                 style='font-family:Raleway'>

                <div class='bg-blue-500  my-6 md:w-6/12 self-start'>
                    <span class='p-4 bg-white text-blue-400 font-bold  text-xl inline-block '>
                        1
                    </span>

                    <p class='font-bold text-white text-left p-6'> Make sure to use the Meta mask or
                        Trustwallet for this transaction
                        <br />
                        <br />


                        The contract will automatically forward the Volterra token to your wallet
                        immediately

                        <br /><br />

                        <i class='bi-exclamation-triangle'> </i> WARNING: Send only Binance
                        Smartchain. Do
                        not send any other token to this address as transaction will be terminated



                    </p>
                </div>



                <div class='bg-blue-500  my-6 md:w-6/12'>
                    <span class='p-4 bg-white text-blue-500 font-bold  text-xl inline-block '>
                        2
                    </span>

                    <p class='font-bold text-white text-left p-6'>
                        Note that 1VOLT = 0.0425USD as at the time of this presale and would cost
                        more on public sale


                    </p>
                </div>



                <div class='bg-blue-500  my-6 md:w-6/12'>
                    <span class='p-4 bg-white text-blue-500 font-bold  text-xl inline-block '>
                        3
                    </span>

                    <p class='font-bold text-white text-left p-6'> Kindly send a minimum of
                        0.1BNB and a
                        maximum of 2BNB to the presale
                        contract below
                        <br />
                        <br />


                        The contract will automatically forward the Volterra token to your wallet
                        immediately

                    </p>
                </div>

                <!-- QR -->

                <div class='bg-blue-500  my-6 md:w-6/12'>
                    <span class='p-4 bg-white text-blue-500 font-bold  text-xl inline-block '>
                        4
                    </span>

                    <p class='font-bold text-white text-left p-6'>
                        After purchase, please hold until trade launches via Pancake swap.


                    </p>
                </div>






            </div>








        </main>

        <footer class='mt-64'></footer>



    </body>

</html>